.form-g{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-d{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.visualise{
    text-align: center;
    width: 20%;
}
.input-group{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.input-component {
    display: flex;
    flex-direction: column;
  }
  .input-component input {
    border: none;
    background-color: #ececec;
    border-radius: 4px;
    height: 30px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Montserrat", sans-serif !important;
    font-size: 0.75em;
  }
  .input-component input:focus {
    outline: none;
  }
  .input-component label {
    font-size: 0.65em;
    color: #6a6a6a;
    font-weight: 500;
  }