*{
    margin: 0 !important;
}
/* .adminis{
    color: #121212;
    padding: 10px;
    border: 2px solid #f8cece;
    border-radius: 10px 10px 10px 10px;
    font-family: "Noto Sans", sans-serif;
    font-size: 0.7 em;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
} */
