.download-page{
    height: 100%;
    width: 100%;  
}
h1{
    user-select: none; /* Empêche la sélection du texte */
    -webkit-user-select: none; /* Pour les navigateurs WebKit (Chrome, Safari) */
    -moz-user-select: none; /* Pour Firefox */
    -ms-user-select: none; /* Pour Internet Explorer/Edge */
    pointer-events: none; /* Empêche tous les événements de pointeur */
}
.preview{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}