.navbar {
  display: flex;
  height: 10vh;
  padding-left: 84vw;
  font-family: "Noto Sans", sans-serif;
  font-weight: 100;
  font-size: 0.85em;
  background-color: white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.navbarElt {
  display: flex;
  align-items: center;
  background-color: white;
  gap: 2vw;
}
.pdp {
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
}
