@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.notif-page {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-height: 100vh;
  overflow-y: scroll;
  padding: 10px;
}

.notif-accordian {
  width: 98%;
  font-family: "Mulish", sans-serif;
  font-size: 0.85em;
  border-radius: 10px;
}
.notif-header {
  display: flex;
  align-items: center;
  gap: 40px;
}
.notif-sub-header {
  display: flex;
  align-items: center;
  gap: 5px;
}
.notif-time {
  position: absolute;
  right: 5%;
}
.user-name {
  font-weight: 700;
  color: black;
}
.repo-name {
  font-weight: 700;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50%;
}
.notif-msg {
  color: grey;
}

.notif-body {
  padding-left: 4%;
}
.body-item span {
  text-decoration: underline;
  color: #009b9b;
}
