.rootlayout{
    width: 100vw;
    height: 100vh;
  }
  .navbar{
    position: fixed;
    z-index: 1;
  }
  .Sidebar{
    position: relative;
    z-index: 2;
  }
  .LogoDjezzy{
    position: absolute;
    top: 0.2vh;
    left: 4.5vw;
    z-index: 3;
  }
  .containers{
    width: 77%;
    height: 89vh;
    position: absolute;
    top: 11vh;
    left: 23%;
    z-index: 4;
    background-color: rgb(255, 255, 255);
  }