.rootlayout{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 8.5vh 1fr;
  }
  .navbar{
    grid-column: 2;
    grid-row: 1;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  }
  .Sidebar{
    grid-row: 1 / 3;
  }
  .LogoDjezzy{
    position: absolute;
    top: 0.2vh;
    left: 4.5vw;
  }
  .containers{
    grid-column: 2 ;
    grid-row: 2;
    height: 89vh;
    background-color: rgb(255, 255, 255);
  }