.WhiteLogoWithName {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.Whitelogo {
  display: inline-block;
  width: 4rem;
  height: 4rem;
}
.WhiteNom {
  font-family: "Secular One", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: white;
}
#arabe {
  font-family: "Noto Sans Arabic", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
